<div class="mb-3 pb-3 text-center">
    <h4 class="fw-normal">
        {{ 'features.auth.components.recoverPassword.RECOVER_PASSWORD_TO' | translate }}
        <span class="fw-bold">{{ 'features.auth.components.recoverPassword.APPNAME' | translate }}</span>
    </h4>
    <p class="text-muted mb-0">
        {{ 'features.auth.components.recoverPassword.RE_PASSWORD_WITH_APPNAME' | translate }}
    </p>
</div>
<div class="alert alert-success text-center rounded-pill mb-4" role="alert">
    {{ 'features.auth.components.recoverPassword.ENTER_EMAIL_INSTRUCTIONS' | translate }}
</div>
<form class="form-custom mt-3">
    <div class="mb-3">
        <input type="text" class="form-control" id="email" placeholder="{{ 'features.auth.components.recoverPassword.ENTER_EMAIL' | translate }}">
    </div>
</form>
<div class="text-center mt-3">
    <button class="btn btn-success rounded-pill shadow-none w-50" type="submit">
        {{ 'features.auth.components.recoverPassword.SEND_REQUEST_BUTTON' | translate }}
    </button>
</div>