<div class="mb-3 pb-3 text-center">
  <h4 class="fw-normal">
    {{ 'features.auth.components.recoverPassword.RECOVER_PASSWORD_TO' | translate }}
    <span class="fw-bold">{{ 'features.auth.components.recoverPassword.APPNAME' | translate }}</span>
  </h4>
  <p class="text-muted mb-0">
    {{ 'features.auth.components.recoverPassword.RE_PASSWORD_WITH_APPNAME' | translate }}
  </p>
</div>
<div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
<form *ngIf="!successMessage" [formGroup]="recoverPasswordForm" (ngSubmit)="onRecoverPassword()" class="form-custom mt-3" novalidate>

  <div class="alert alert-success text-center rounded-pill mb-4" role="alert">
    {{ 'features.auth.components.recoverPassword.ENTER_EMAIL_INSTRUCTIONS' | translate }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  <div class="mb-3">
    <input type="email"
           class="form-control"
           id="email"
           formControlName="email"
           placeholder="{{ 'features.auth.components.recoverPassword.ENTER_EMAIL' | translate }}"
           [ngClass]="{'is-invalid': recoverPasswordForm.controls['email'].invalid && (recoverPasswordForm.controls['email'].dirty || recoverPasswordForm.controls['email'].touched)}">
    <div *ngIf="recoverPasswordForm.controls['email'].invalid && (recoverPasswordForm.controls['email'].dirty || recoverPasswordForm.controls['email'].touched)" class="invalid-feedback">
      <div *ngIf="recoverPasswordForm.controls['email'].errors?.['required']">
        {{ 'features.auth.components.signup.ERRORS.EMAIL_REQUIRED' | translate }}
      </div>
      <div *ngIf="recoverPasswordForm.controls['email'].errors?.['email']">
        {{ 'features.auth.components.signup.ERRORS.EMAIL_INVALID' | translate }}
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-success rounded-pill shadow-none w-50" type="submit">
      {{ 'features.auth.components.recoverPassword.SEND_REQUEST_BUTTON' | translate }}
    </button>
  </div>
</form>
