<div class="bg-login">
    <div class="bg-overlay"></div>
    <img src="assets/images/bg-img-1.jpg" class="img-fluid" alt="">
    <div class="auth-contain">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="text-center text-white my-4 p-4">
                        <h3>Connectez-vous en Toute Confiance</h3>
                        <p class="text-white-50 f-20 mt-3">
                            Des mesures avancées garantissent la confidentialité de vos informations, et nos notifications de sécurité vous tiennent informé pendant que vous explorez nos services en toute tranquillité d'esprit.
                        </p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="text-center text-white my-4 p-4">
                        <h3>Bienvenue dans l'Espace Sécurisé</h3>
                        <p class="text-white-50 f-20 mt-3">
                            Connectez-vous en toute confiance pour accéder à vos informations personnelles, avec une priorité absolue sur la protection des données.

                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-center text-white my-4 p-4">
                        <h3>Protégeons Ensemble Votre Compte</h3>
                        <p class="text-white-50 f-20 mt-3">
                            Rejoignez notre engagement pour la protection des données, renforcez votre mot de passe, et connectez-vous maintenant pour contribuer à la sécurité de votre compte.
                        </p>
                    </div>
                </div>
            </div>
            <!-- end -->
        </div>
    </div>
</div>