<div class="mb-3 pb-3 text-center">
  <h4 class="fw-normal">
    {{ 'features.auth.components.resetPassword.RESET_PASSWORD_TO' | translate }}
    <span class="fw-bold">{{ 'features.auth.components.resetPassword.APPNAME' | translate }}</span>
  </h4>
  <p class="text-muted mb-0">
    {{ 'features.auth.components.resetPassword.RESET_YOUR_PASSWORD' | translate }}
  </p>
</div>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="form-custom mt-3" novalidate>
  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
    <br>
    <span *ngIf="countdown !== null">
      {{ 'features.auth.components.resetPassword.REDIRECT_IN' | translate : { seconds: countdown } }}
    </span>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  <div class="mb-3">
    <label for="password" class="form-label">{{ 'features.auth.components.resetPassword.NEW_PASSWORD' | translate }}</label>
    <input type="password" class="form-control" id="password" formControlName="password"
           [ngClass]="{'is-invalid': resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)}">
    <div *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)" class="invalid-feedback">
      {{ 'features.auth.components.resetPassword.ERRORS.PASSWORD_REQUIRED' | translate }}
    </div>
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">{{ 'features.auth.components.resetPassword.CONFIRM_PASSWORD' | translate }}</label>
    <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
           [ngClass]="{'is-invalid': resetPasswordForm.controls['confirmPassword'].invalid && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched) || resetPasswordForm.hasError('mismatch')}">
    <div *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && (resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)" class="invalid-feedback">
      {{ 'features.auth.components.resetPassword.ERRORS.CONFIRM_PASSWORD_REQUIRED' | translate }}
    </div>
    <div *ngIf="resetPasswordForm.hasError('mismatch')" class="invalid-feedback">
      {{ 'features.auth.components.resetPassword.ERRORS.PASSWORDS_MUST_MATCH' | translate }}
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-success rounded-pill shadow-none w-50" type="submit">
      {{ 'features.auth.components.resetPassword.RESET_BUTTON' | translate }}
    </button>
  </div>
</form>
