<div class="mb-3 pb-3 text-center">
    <h4 class="fw-normal">
        {{ 'features.auth.components.signup.REGISTER_ACCOUNT_TO' | translate }}
        <span class="fw-bold">{{ 'features.auth.components.signup.APPNAME' | translate }}</span>
    </h4>
    <p class="text-muted mb-0">
        {{ 'features.auth.components.signup.SIGN_IN_TO_CONTINUE' | translate }}
    </p>
</div>
<form class="form-custom mt-3">
    <div class="mb-3">
        <label class="form-label" for="email">{{ 'features.auth.components.signup.EMAIL' | translate }}</label>
        <input type="text" class="form-control" id="email" placeholder="{{ 'features.auth.components.signup.ENTER_EMAIL' | translate }}">
    </div>
    <div class="mb-3">
        <label class="form-label" for="username">{{ 'features.auth.components.signup.USERNAME' | translate }}</label>
        <input type="text" class="form-control" id="username" placeholder="{{ 'features.auth.components.signup.ENTER_USERNAME' | translate }}">
    </div>
    <div class="form-password mb-3 auth-pass-inputgroup">
        <label class="form-label" for="userpassword">{{ 'features.auth.components.signup.PASSWORD' | translate }}</label>
        <div class="position-relative">
            <input type="password" class="form-control" id="password-input" placeholder="{{ 'features.auth.components.signup.ENTER_PASSWORD' | translate }}">
            <button type="button" class="btn btn-link position-absolute h-100 end-0 top-0 shadow-none" appTogglePasswordVisibility>
                <i class="mdi mdi-eye-outline f-16 text-muted"></i>
            </button>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label text-muted f-15" for="flexCheckDefault">
            {{ 'features.auth.components.signup.AGREE_TERMS' | translate }}
        </label>
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-success shadow-none rounded-pill w-50" type="submit">
            {{ 'features.auth.components.signup.REGISTER_BUTTON' | translate }}
        </button>
    </div>
    <hr>
    <div class="mt-3 text-center">
        <p class="mb-0 text-muted">
            {{ 'features.auth.components.signup.ALREADY_HAVE_ACCOUNT' | translate }}
            <a routerLink="/signin" class="text-success fw-bold text-decoration-underline ms-1">
                {{ 'features.auth.components.signup.SIGN_IN' | translate }}
            </a>
        </p>
    </div>
</form>