<div class="mb-3 pb-3 text-center">
    <h4 class="fw-normal">
        {{ "features.auth.components.signup.REGISTER_ACCOUNT_TO" | translate }}
        <span class="fw-bold">{{
      "features.auth.components.signup.APPNAME" | translate
    }}</span>
    </h4>
    <p class="text-muted mb-0">
        {{ "features.auth.components.signup.SIGN_IN_TO_CONTINUE" | translate }}
    </p>
</div>
<form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="form-custom mt-3" novalidate>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
    </div>
    <!-- Ajouter l'affichage du message d'erreur -->
    <div class="mb-3">
        <label class="form-label" for="email">{{
      "features.auth.components.signup.EMAIL" | translate
    }}</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="{{
        'features.auth.components.signup.ENTER_EMAIL' | translate
      }}" [ngClass]="{
        'is-invalid':
          signupForm.controls['email'].invalid &&
          (signupForm.controls['email'].dirty ||
            signupForm.controls['email'].touched)
      }" />
        <div *ngIf="
        signupForm.controls['email'].invalid &&
        (signupForm.controls['email'].dirty ||
          signupForm.controls['email'].touched)
      " class="invalid-feedback">
            <div *ngIf="signupForm.controls['email'].errors?.['required']">
                {{ "features.auth.components.signup.ERRORS.EMAIL_REQUIRED" | translate }}
            </div>
            <div *ngIf="signupForm.controls['email'].errors?.['email']">
                {{ "features.auth.components.signup.ERRORS.EMAIL_INVALID" | translate }}
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="username">{{
      "features.auth.components.signup.USERNAME" | translate
    }}</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="{{
        'features.auth.components.signup.ENTER_USERNAME' | translate
      }}" [ngClass]="{
        'is-invalid':
          signupForm.controls['username'].invalid &&
          (signupForm.controls['username'].dirty ||
            signupForm.controls['username'].touched)
      }" />
        <div *ngIf="
        signupForm.controls['username'].invalid &&
        (signupForm.controls['username'].dirty ||
          signupForm.controls['username'].touched)
      " class="invalid-feedback">
            <div *ngIf="signupForm.controls['username'].errors?.['required']">
                {{ "features.auth.components.signup.ERRORS.USERNAME_REQUIRED" | translate }}
            </div>
        </div>
    </div>
    <div class="form-password mb-3 auth-pass-inputgroup">
        <label class="form-label" for="password">{{
      "features.auth.components.signup.PASSWORD" | translate
    }}</label>
        <div class="position-relative">
            <input type="password" class="form-control" id="password-input" formControlName="password" placeholder="{{
          'features.auth.components.signup.ENTER_PASSWORD' | translate
        }}" [ngClass]="{
          'is-invalid':
            signupForm.controls['password'].invalid &&
            (signupForm.controls['password'].dirty ||
              signupForm.controls['password'].touched)
        }" />
            <!-- <button
        type="button"
        class="btn btn-link position-absolute h-100 end-0 top-0 shadow-none"
        appTogglePasswordVisibility
      >
        <i class="mdi mdi-eye-outline f-16 text-muted"></i>
      </button> -->
            <div *ngIf="
          signupForm.controls['password'].invalid &&
          (signupForm.controls['password'].dirty ||
            signupForm.controls['password'].touched)
        " class="invalid-feedback">
                <div *ngIf="signupForm.controls['password'].errors?.['required']">
                    {{ "features.auth.components.signup.ERRORS.PASSWORD_REQUIRED" | translate }}
                </div>
                <div *ngIf="signupForm.controls['password'].errors?.['minlength']">
                    {{ "features.auth.components.signup.ERRORS.PASSWORD_MINLENGTH" | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault" formControlName="agreeTerms" [ngClass]="{
        'is-invalid':
          signupForm.controls['agreeTerms'].invalid &&
          (signupForm.controls['agreeTerms'].dirty ||
            signupForm.controls['agreeTerms'].touched)
      }" />
        <label class="form-check-label text-muted f-15" for="flexCheckDefault">
      {{ "features.auth.components.signup.AGREE_TERMS" | translate }}
    </label>
        <div *ngIf="
        signupForm.controls['agreeTerms'].invalid &&
        (signupForm.controls['agreeTerms'].dirty ||
          signupForm.controls['agreeTerms'].touched)
      " class="invalid-feedback">
            <div *ngIf="signupForm.controls['agreeTerms'].errors?.['requiredTrue']">
                {{ "features.auth.components.signup.ERRORS.AGREE_TERMS_REQUIRED" | translate }}
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-success shadow-none rounded-pill w-50" type="submit">
      {{ "features.auth.components.signup.REGISTER_BUTTON" | translate }}
    </button>
    </div>
    <hr />
    <div class="mt-3 text-center">
        <p class="mb-0 text-muted">
            {{ "features.auth.components.signup.ALREADY_HAVE_ACCOUNT" | translate }}
            <a routerLink="/signin" class="text-success fw-bold text-decoration-underline ms-1">
        {{ "features.auth.components.signup.SIGN_IN" | translate }}
      </a>
        </p>
    </div>
</form>