<div class="account-pages">
  <div class="container">
    <div class="row g-0 justify-content-center align-items-center">
      <div class="col-md-6 col-sm-12 bg-white">
        <div class="auth-box">
          <div class="mb-4 mb-md-5 text-center">
            <a href="javascript:void(0);" class="auth-logo">
              <img src="assets/images/logo-dark.png" height="24" alt="" />
            </a>
          </div>
          <div class="auth-content">

            <!-- <div [@routeAnimations]="prepareRoute(outlet)"> -->
            <div>
              <router-outlet #outlet="outlet"></router-outlet>
            </div>
          </div>
        </div>
      
      </div>
      <div class="row g-0 justify-content-center align-items-center">
        <div class="col-md-6 col-sm-12">
         <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>