<div class="account-pages">
    <div class="container">
        <div class="row g-0 bg-white align-items-center">
            <div class="col-lg-6">
                <app-auth-carousel></app-auth-carousel>
            </div>
            <div class="col-lg-6">
                <div class="auth-box">
                    <div class="mb-4 mb-md-5 text-center">
                        <a href="javascript:void(0);" class="auth-logo">
                            <img src="assets/images/logo-dark.png" height="24" alt="" />
                        </a>
                    </div>
                    <div class="auth-content">
                        <router-outlet />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>