<div class="mb-3 pb-3 text-center">
  <h4 class="fw-normal">
    {{ "signin.components.forgotPassword.PAGE_TITLE" | translate }}
  </h4>
</div>
<div *ngIf="successMessage" class="alert alert-success mt-3">
  {{ successMessage }}
</div>
<form
  *ngIf="!successMessage"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="onSubmit()"
  class="form-custom mt-3"
  novalidate
>
  <div class="text-center  mb-4" role="alert">
    {{ "signin.components.forgotPassword.ENTER_EMAIL_INSTRUCTIONS" | translate }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  <div class="mb-3">
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      placeholder="{{ 'signin.components.forgotPassword.ENTER_EMAIL' | translate }}"
      [ngClass]="{
        'is-invalid':
          forgotPasswordForm.controls['email'].invalid &&
          (forgotPasswordForm.controls['email'].dirty ||
            forgotPasswordForm.controls['email'].touched)
      }"
    />
    <div
      *ngIf="
        forgotPasswordForm.controls['email'].invalid &&
        (forgotPasswordForm.controls['email'].dirty ||
          forgotPasswordForm.controls['email'].touched)
      "
      class="invalid-feedback"
    >
      <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">
        {{ "signin.components.forgotPassword.ERRORS.EMAIL_REQUIRED" | translate }}
      </div>
      <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">
        {{ "signin.components.forgotPassword.ERRORS.EMAIL_INVALID" | translate }}
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button class="btn btn-success rounded-pill shadow-none w-50" type="submit">
      {{ "signin.components.forgotPassword.SEND_REQUEST_BUTTON" | translate }}
    </button>
  </div>
</form>
