<div class="auth-content">
    <form>
        <div class="mb-3 pb-2">
            <div class="avatar-md mx-auto">
                <span class="avatar-title text-success bg-soft-success rounded-circle">
          <i class="mdi mdi-email display-6"></i>
        </span>
            </div>
        </div>

        <div class="text-center">
            <h4>{{ 'features.auth.components.emailVerification.VERIFY_EMAIL' | translate }}</h4>
            <p class="text-muted">
                {{ 'features.auth.components.emailVerification.VERIFY_EMAIL_MESSAGE' | translate }}
            </p>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-success shadow-none w-50 rounded-pill" type="submit">
        {{ 'features.auth.components.emailVerification.VERIFY_BUTTON' | translate }}
      </button>
        </div>
        <hr />
        <div class="mt-3 text-center">
            <p class="mb-0 text-muted">
                {{ 'features.auth.components.emailVerification.DIDNT_RECEIVE_EMAIL' | translate }}
                <a href="#" class="text-success fw-bold text-decoration-underline ms-1">
          {{ 'features.auth.components.emailVerification.RESEND' | translate }}
        </a>
            </p>
        </div>
    </form>
</div>